* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: "Roboto", sans-serif;
  --bc-primary: hsl(0, 0%, 100%);
  --fc-primary: hsl(240, 6%, 21%);
  --fc-second: hsl(240, 9%, 89%);
  --fc-third: hsl(194, 97%, 31%);
}

.controlTheme {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#toggle {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%220%200%2044%2044%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M22%2029C23.9333%2029%2025.5833%2028.3167%2026.95%2026.95C28.3167%2025.5833%2029%2023.9333%2029%2022C29%2020.0667%2028.3167%2018.4167%2026.95%2017.05C25.5833%2015.6833%2023.9333%2015%2022%2015C20.0667%2015%2018.4167%2015.6833%2017.05%2017.05C15.6833%2018.4167%2015%2020.0667%2015%2022C15%2023.9333%2015.6833%2025.5833%2017.05%2026.95C18.4167%2028.3167%2020.0667%2029%2022%2029ZM22%2032C19.2333%2032%2016.875%2031.025%2014.925%2029.075C12.975%2027.125%2012%2024.7667%2012%2022C12%2019.2333%2012.975%2016.875%2014.925%2014.925C16.875%2012.975%2019.2333%2012%2022%2012C24.7667%2012%2027.125%2012.975%2029.075%2014.925C31.025%2016.875%2032%2019.2333%2032%2022C32%2024.7667%2031.025%2027.125%2029.075%2029.075C27.125%2031.025%2024.7667%2032%2022%2032ZM1.5%2023.5C1.06667%2023.5%200.708333%2023.3583%200.425%2023.075C0.141667%2022.7917%200%2022.4333%200%2022C0%2021.5667%200.141667%2021.2083%200.425%2020.925C0.708333%2020.6417%201.06667%2020.5%201.5%2020.5H6.5C6.93333%2020.5%207.29167%2020.6417%207.575%2020.925C7.85833%2021.2083%208%2021.5667%208%2022C8%2022.4333%207.85833%2022.7917%207.575%2023.075C7.29167%2023.3583%206.93333%2023.5%206.5%2023.5H1.5ZM37.5%2023.5C37.0667%2023.5%2036.7083%2023.3583%2036.425%2023.075C36.1417%2022.7917%2036%2022.4333%2036%2022C36%2021.5667%2036.1417%2021.2083%2036.425%2020.925C36.7083%2020.6417%2037.0667%2020.5%2037.5%2020.5H42.5C42.9333%2020.5%2043.2917%2020.6417%2043.575%2020.925C43.8583%2021.2083%2044%2021.5667%2044%2022C44%2022.4333%2043.8583%2022.7917%2043.575%2023.075C43.2917%2023.3583%2042.9333%2023.5%2042.5%2023.5H37.5ZM22%208C21.5667%208%2021.2083%207.85833%2020.925%207.575C20.6417%207.29167%2020.5%206.93333%2020.5%206.5V1.5C20.5%201.06667%2020.6417%200.708333%2020.925%200.425C21.2083%200.141667%2021.5667%200%2022%200C22.4333%200%2022.7917%200.141667%2023.075%200.425C23.3583%200.708333%2023.5%201.06667%2023.5%201.5V6.5C23.5%206.93333%2023.3583%207.29167%2023.075%207.575C22.7917%207.85833%2022.4333%208%2022%208ZM22%2044C21.5667%2044%2021.2083%2043.8583%2020.925%2043.575C20.6417%2043.2917%2020.5%2042.9333%2020.5%2042.5V37.5C20.5%2037.0667%2020.6417%2036.7083%2020.925%2036.425C21.2083%2036.1417%2021.5667%2036%2022%2036C22.4333%2036%2022.7917%2036.1417%2023.075%2036.425C23.3583%2036.7083%2023.5%2037.0667%2023.5%2037.5V42.5C23.5%2042.9333%2023.3583%2043.2917%2023.075%2043.575C22.7917%2043.8583%2022.4333%2044%2022%2044ZM10%2012.1L7.15%209.3C6.85%209%206.70833%208.64167%206.725%208.225C6.74167%207.80833%206.88333%207.45%207.15%207.15C7.45%206.85%207.80833%206.7%208.225%206.7C8.64167%206.7%209%206.85%209.3%207.15L12.1%2010C12.3667%2010.3%2012.5%2010.65%2012.5%2011.05C12.5%2011.45%2012.3667%2011.7833%2012.1%2012.05C11.8333%2012.35%2011.4917%2012.5%2011.075%2012.5C10.6583%2012.5%2010.3%2012.3667%2010%2012.1ZM34.7%2036.85L31.9%2034C31.6333%2033.7%2031.5%2033.3417%2031.5%2032.925C31.5%2032.5083%2031.65%2032.1667%2031.95%2031.9C32.2167%2031.6%2032.55%2031.45%2032.95%2031.45C33.35%2031.45%2033.7%2031.6%2034%2031.9L36.85%2034.7C37.15%2035%2037.2917%2035.3583%2037.275%2035.775C37.2583%2036.1917%2037.1167%2036.55%2036.85%2036.85C36.55%2037.15%2036.1917%2037.3%2035.775%2037.3C35.3583%2037.3%2035%2037.15%2034.7%2036.85ZM31.9%2012.1C31.6%2011.8%2031.45%2011.45%2031.45%2011.05C31.45%2010.65%2031.6%2010.3%2031.9%2010L34.7%207.15C35%206.85%2035.3583%206.70833%2035.775%206.725C36.1917%206.74167%2036.55%206.88333%2036.85%207.15C37.15%207.45%2037.3%207.80833%2037.3%208.225C37.3%208.64167%2037.15%209%2036.85%209.3L34%2012.1C33.7333%2012.3667%2033.3917%2012.5%2032.975%2012.5C32.5583%2012.5%2032.2%2012.3667%2031.9%2012.1ZM7.15%2036.85C6.85%2036.55%206.7%2036.1917%206.7%2035.775C6.7%2035.3583%206.85%2035%207.15%2034.7L10%2031.9C10.3%2031.6%2010.65%2031.45%2011.05%2031.45C11.45%2031.45%2011.8%2031.6%2012.1%2031.9C12.4%2032.2%2012.55%2032.55%2012.55%2032.95C12.55%2033.35%2012.4%2033.7%2012.1%2034L9.3%2036.85C9%2037.15%208.64167%2037.2917%208.225%2037.275C7.80833%2037.2583%207.45%2037.1167%207.15%2036.85Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 3.6rem;
  height: 3.6rem;
  border: none;
  cursor: pointer;
  margin: 6rem 6rem 0rem 0rem;
}

.dark #toggle {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M18%2036C13%2036%208.75%2034.25%205.25%2030.75C1.75%2027.25%200%2023%200%2018C0%2013%201.75%208.75%205.25%205.25C8.75%201.75%2013%200%2018%200C18.2667%200%2018.55%200.00833343%2018.85%200.0250001C19.15%200.0416668%2019.5333%200.0666666%2020%200.0999999C18.8%201.16667%2017.8667%202.48333%2017.2%204.05C16.5333%205.61667%2016.2%207.26667%2016.2%209C16.2%2012%2017.25%2014.55%2019.35%2016.65C21.45%2018.75%2024%2019.8%2027%2019.8C28.7333%2019.8%2030.3833%2019.4917%2031.95%2018.875C33.5167%2018.2583%2034.8333%2017.4%2035.9%2016.3C35.9333%2016.7%2035.9583%2017.025%2035.975%2017.275C35.9917%2017.525%2036%2017.7667%2036%2018C36%2023%2034.25%2027.25%2030.75%2030.75C27.25%2034.25%2023%2036%2018%2036ZM18%2033C21.6333%2033%2024.8%2031.875%2027.5%2029.625C30.2%2027.375%2031.8833%2024.7333%2032.55%2021.7C31.7167%2022.0667%2030.825%2022.3417%2029.875%2022.525C28.925%2022.7083%2027.9667%2022.8%2027%2022.8C23.1667%2022.8%2019.9083%2021.4583%2017.225%2018.775C14.5417%2016.0917%2013.2%2012.8333%2013.2%209C13.2%208.2%2013.2833%207.34167%2013.45%206.425C13.6167%205.50833%2013.9167%204.46667%2014.35%203.3C11.0833%204.2%208.375%206.025%206.225%208.775C4.075%2011.525%203%2014.6%203%2018C3%2022.1667%204.45833%2025.7083%207.375%2028.625C10.2917%2031.5417%2013.8333%2033%2018%2033Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
body {
  font-size: 1.6rem;
  font-family: var(--ff-primary);
  background: var(--bc-primary);
  height: 100vh;
}

body.dark {
  --bc-primary: hsl(240, 5%, 7%);
  --fc-primary: hsl(0, 0%, 100%);
  --fc-second: hsl(240, 6%, 17%);
  --fc-third: hsl(195, 74%, 15%);
}

body.dark .enable button svg path {
  fill: var(--fc-primary);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 68rem;
  width: 82.2rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 12.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fc-primary);
  animation: topDown 700ms backwards;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  animation: topDown 700ms 350ms backwards;
}

.controls button,
.functions button {
  background: none;
  border: none;
  cursor: pointer;
}

.hiden {
  display: none;
}

.functions {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  animation: downTop 700ms backwards;
}

.functions button {
  background: var(--fc-second);
  height: 15.2rem;
  width: 13.8rem;
  border-radius: 2.4rem;
}

.functions svg {
  margin-top: -23rem;
  margin-inline: auto;
}

.functions .enable button {
  background: var(--fc-third);
}
.enable button svg path {
  fill: var(--bc-primary);
}

button svg path {
  fill: var(--fc-primary);
}

.forest,
.rain,
.coffee,
.fireplace {
  position: relative;
}

#volumeForest,
#volumeRain,
#volumeCoffee,
#volumeFireplace {
  position: absolute;
  z-index: 1;
  margin: +11rem 0rem 0rem -11.5rem;
}

input[type="range"] {
  width: 90px;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
}
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 5px;
  background: var(--fc-primary);
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  height: 16px;
  width: 16px;
  background: var(--fc-primary);
  border-radius: 50%;
  top: calc(50% - 16px / 2);
}

.enable input[type="range"]::-webkit-slider-runnable-track,
.enable input[type="range"]::-webkit-slider-thumb {
  background: var(--bc-primary);
}

.dark .enable input[type="range"]::-webkit-slider-runnable-track,
.dark .enable input[type="range"]::-webkit-slider-thumb {
  background: var(--fc-primary);
}

input[type="range"]::-moz-range-track {
  height: 4px;
  border-radius: 5px;
  background: var(--fc-primary);
}

input[type="range"]::-moz-range-thumb {
  position: relative;
  height: 16px;
  width: 16px;
  border: none;
  background: var(--fc-primary);
  border-radius: 50%;
  top: calc(50% - 16px / 2);
}

.enable input[type="range"]::-moz-range-track,
.enable input[type="range"]::-moz-range-thumb {
  background: var(--bc-primary);
}

.dark .enable input[type="range"]::-moz-range-track,
.dark .enable input[type="range"]::-moz-range-thumb {
  background: var(--fc-primary);
}

@keyframes topDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes downTop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    gap: 19.2rem;
    margin-top: 9rem;
    height: 33.6rem;
  }
}
